.container {
    background: #000;
    width: 100%;
    position: relative;

    .head {
        margin: 0 auto;
        padding: 2rem 0 1.8rem;
        display: flex;
    }

    .languageLogo {
        width: 2.38rem;
        height: 2.25rem;
        position: absolute;
        top: 2.31rem;
        right: 6.06rem;
        cursor: pointer;
    }

    .logo {
        width: 11.31rem;
        height: 2.94rem;
        margin-left:4.31rem;
    }

    .guide {
        display: flex;
        justify-content: space-between;
        width: 46rem;
        margin: 1rem 0 0 5.94rem;
        align-items: center;
    }

    .guideName {
        font-size: 1rem;
        font-family: "MiSans-Regular";
        color: @fontColorWhite;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .guideName:hover {
        text-decoration: underline 1px;
        text-underline-offset: 4px;
    }

    .downArrow {
        width: 1.25rem;
        height: 1.25rem;
    }

    .line {
        width: 0px;
        height: 0.75rem;
        border: 1px solid rgba(255,255,255,0.7);
    }

    @media screen and (min-width: 1440px) {
        .head {
            padding: 32px 0 28.8px;
        }

        .languageLogo {
            width: 38px;
            height: 36px;
            top: 37px;
            right: 97px;
        }

        .logo {
            width: 181px;
            height: 47px;
            margin-left: 69px;
        }

        .guide {
            width: 736px;
            margin: 16px 0 0 95px;
        }

        .guideName {
            font-size: 16px;
        }

        .downArrow {
            width: 20px;
            height: 20px;
        }

        .line {
            height: 12px;
        }
    }
}

.dropdownMenu {
    width: 9.44rem;
    height: 6.94rem;

    :global{
        .ant-dropdown-menu{ 
            background: rgba(255,255,255,0.95);
        }

        .ant-dropdown-menu-item {
            height: 3.2rem;
            font: 0.875rem "MiSans-Regular" !important;
            color: #000 !important;
        }

        .ant-dropdown-menu-item-active {
            height: 3.2rem;
            font: 0.875rem "MiSans-Regular" !important;
            color: rgba(#000, 0.6) !important;
        }
    }
}

@media screen and (min-width: 1440px) {
    .dropdownMenu {
        width: 127px;
        height: 111px;
    
        :global{
    
            .ant-dropdown-menu-item {
                height: 51.2px;
                font: 16px "MiSans-Bold";
            }
    
            .ant-dropdown-menu-item-active {
                height: 51.2px;
                font: 16px "MiSans-Bold";
            }
        }
    }
}