.collapse {

    :global {
        .ant-collapse-header {
            padding: 0 !important;
        }

        .ant-collapse-header {
            align-items: center !important;
        }

        .ant-collapse-content-box{
            padding: 0 !important;
        }
    }
}